.elementor-981 .elementor-element.elementor-element-4022813 {
    margin-top: 0px;
    margin-bottom: 80px;
}

.elementor-981 .elementor-element.elementor-element-276e488 {
    columns: 2;
    column-gap: 60px;
}