.elementor-971 .elementor-element.elementor-element-539eed5>.elementor-container {
    text-align: center;
}

.elementor-971 .elementor-element.elementor-element-4022813>.elementor-container {
    max-width: 860px;
    --container-max-width: 860px;
}

.elementor-971 .elementor-element.elementor-element-4022813 {
    margin-top: 0px;
    margin-bottom: 80px;
}

.elementor-971 .elementor-element.elementor-element-4ff2820>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-971 .elementor-element.elementor-element-4ff2820 .elementor-heading-title {
    font-size: 28px;
    text-transform: uppercase;
    color: #b7b7b7;
}

.elementor-971 .elementor-element.elementor-element-c17659b>.elementor-container {
    max-width: 860px;
    --container-max-width: 860px;
}

.elementor-971 .elementor-element.elementor-element-c17659b {
    margin-top: 0px;
    margin-bottom: 80px;
}

.elementor-971 .elementor-element.elementor-element-a8b479a>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-971 .elementor-element.elementor-element-a8b479a .elementor-heading-title {
    font-size: 28px;
    text-transform: uppercase;
    color: #b7b7b7;
}

.elementor-971 .elementor-element.elementor-element-b4e38ed>.elementor-container {
    max-width: 860px;
    --container-max-width: 860px;
}

.elementor-971 .elementor-element.elementor-element-b4e38ed {
    margin-top: 0px;
    margin-bottom: 80px;
}

.elementor-971 .elementor-element.elementor-element-147a928>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-971 .elementor-element.elementor-element-147a928 .elementor-heading-title {
    font-size: 28px;
    text-transform: uppercase;
    color: #b7b7b7;
}

.elementor-971 .elementor-element.elementor-element-27ff0f5>.elementor-container {
    max-width: 860px;
    --container-max-width: 860px;
}

.elementor-971 .elementor-element.elementor-element-27ff0f5 {
    margin-top: 0px;
    margin-bottom: 80px;
}

.elementor-971 .elementor-element.elementor-element-0ffc494>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-971 .elementor-element.elementor-element-0ffc494 .elementor-heading-title {
    font-size: 28px;
    text-transform: uppercase;
    color: #b7b7b7;
}