.elementor-935 .elementor-element.elementor-element-b8e78cc {
    margin-top: 60px;
    margin-bottom: 80px;
}

.elementor-935 .elementor-element.elementor-element-7f7622e {
    margin-top: 0px;
    margin-bottom: 80px;
}

.elementor-935 .elementor-element.elementor-element-707e23a>.elementor-widget-container {
    padding: 0px 40px 0px 0px;
}

.elementor-935 .elementor-element.elementor-element-707e23a {
    text-align: right;
}

.elementor-935 .elementor-element.elementor-element-707e23a img {
    width: 130px;
}

.elementor-935 .elementor-element.elementor-element-25e289c>.elementor-element-populated {
    margin: 0% 25% 0% 0%;
    --e-column-margin-right: 25%;
    --e-column-margin-left: 0%;
}

.elementor-935 .elementor-element.elementor-element-62d648a>.elementor-widget-container {
    margin: 30px 0px 20px 0px;
}

.elementor-935 .elementor-element.elementor-element-62d648a .elementor-heading-title {
    font-size: 48px;
    font-weight: 800;
}

.elementor-935 .elementor-element.elementor-element-ea0975b {
    font-size: 20px;
}

.elementor-935 .elementor-element.elementor-element-50fa0c1>.elementor-container {
    max-width: 1200px;
    --container-max-width: 1200px;
}

.elementor-935 .elementor-element.elementor-element-50fa0c1 {
    margin-top: 0px;
    margin-bottom: 80px;
}

.elementor-935 .elementor-element.elementor-element-fbb1fa5>.elementor-container {
    max-width: 850px;
    --container-max-width: 850px;
}

.elementor-935 .elementor-element.elementor-element-fbb1fa5 {
    margin-top: 0px;
    margin-bottom: 80px;
}

.elementor-935 .elementor-element.elementor-element-ea6cc99 {
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
}

.elementor-935 .elementor-element.elementor-element-1097958 {
    text-align: center;
    font-size: 20px;
}

.elementor-935 .elementor-element.elementor-element-90c3ab3 {
    margin-top: 0px;
    margin-bottom: 80px;
}

.elementor-bc-flex-widget .elementor-935 .elementor-element.elementor-element-3882532.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-935 .elementor-element.elementor-element-3882532.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-935 .elementor-element.elementor-element-3882532>.elementor-element-populated {
    padding: 0px 80px 0px 80px;
}

.elementor-935 .elementor-element.elementor-element-37d68e2 {
    font-size: 20px;
}

.elementor-935 .elementor-element.elementor-element-a9317c9 {
    text-align: left;
}

.elementor-935 .elementor-element.elementor-element-a9317c9 img {
    width: 145px;
}

@media(min-width:768px) {
    .elementor-935 .elementor-element.elementor-element-48521c3 {
        width: 22.014%;
    }
    .elementor-935 .elementor-element.elementor-element-25e289c {
        width: 77.986%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-935 .elementor-element.elementor-element-35f2597 {
        width: 100%;
    }
    .elementor-935 .elementor-element.elementor-element-3882532 {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-935 .elementor-element.elementor-element-25e289c>.elementor-element-populated {
        margin: 0% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
    }
    .elementor-935 .elementor-element.elementor-element-ea0975b {
        font-size: 16px;
    }
    .elementor-935 .elementor-element.elementor-element-1097958 {
        font-size: 16px;
    }
    .elementor-935 .elementor-element.elementor-element-3882532>.elementor-element-populated {
        padding: 80px 80px 0px 80px;
    }
    .elementor-935 .elementor-element.elementor-element-37d68e2 {
        font-size: 16px;
    }
}

@media(max-width:767px) {
    .elementor-935 .elementor-element.elementor-element-b8e78cc {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .elementor-935 .elementor-element.elementor-element-7f7622e {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .elementor-935 .elementor-element.elementor-element-707e23a>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-935 .elementor-element.elementor-element-707e23a {
        text-align: center;
    }
    .elementor-935 .elementor-element.elementor-element-62d648a {
        text-align: center;
    }
    .elementor-935 .elementor-element.elementor-element-ea0975b {
        text-align: center;
    }
    .elementor-935 .elementor-element.elementor-element-50fa0c1 {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .elementor-935 .elementor-element.elementor-element-fbb1fa5 {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .elementor-935 .elementor-element.elementor-element-3882532>.elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }
}