.elementor-1108 .elementor-element.elementor-element-3966b4f9 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #f4f4f4;
    margin-top: 0px;
    margin-bottom: 80px;
}

.elementor-1108 .elementor-element.elementor-element-18a97201>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1108 .elementor-element.elementor-element-30a595b4>.elementor-widget-container {
    padding: 30px 0px 50px 0px;
}

.elementor-1108 .elementor-element.elementor-element-30a595b4 .elementor-heading-title {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: #232323;
}